div {
    background-color: lightblue;
    border-radius: 25px;
 
  padding: 20px; 
  width: 200px;
  height: 300px; 
  }
button {border-radius: 8px;
    background-color: yellowgreen;

}
img{
    width: 100px;
    height: 150px;
}
input{
    border: 0px solid #73AD21;
    border-radius: 9px;
    width: 200px;
  height: 30px;  
    background-color:azure;
}

body{
    background-color: aquamarine;
}